<div class="container" id="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">First Blog</h1>
    <p class="lead">
      Welcome to First Blog. Here, I have tried to create a space for people to come and share their knowledge, ideas, views about anything and everything. 
    </p>
    <hr class="my-4">
    <p id = "subtext">Use this as you wish to and feel free to share the feedback as well.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>